@import "../../../global.css";
.levelDemo {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.levelDemo .levels {
  /* background-color: var(--grey); */
  flex: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 20px;
}
.levelDemo .levels h1 {
  align-self: center;
  color: var(--dark_blue);
}
.levelDemo .levels .level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}
.levelDemo .levels .level .header {
  width: 90px;
  height: 90px;

  align-self: center;
  border: solid 2px;

  margin-bottom: 2%;
  border-radius: 100%;
  border: var(--middle_blue) 1px solid;
  /* background-color: var(--grey); */
  background-color: #fdfcfc;
  color: var(--dark_blue);
  text-align: center;
}
.levelDemo .levels .level .subLevels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-self: center; */
}
.levelDemo .levels .level .subLevels .subLevel {
  width: 90px;
  height: 90px;
  margin: 7%;

  border: solid 2px;
  border-radius: 100%;
  border: var(--middle_blue) 1px solid;
  /* background-color: var(--grey); */
  background-color: #fdfcfc;
  display: flex;
  justify-content: center;
}

.levelDemo .levels .level .closed {
  opacity: 0.2;
  background-color: var(--red);
}
.levelDemo .levels .level .subLevels .closed {
  opacity: 0.2;
  background-color: var(--red);
}
.levelDemo .levels .level .subLevels .subLevel img {
  margin: 12px;
  margin-top: 0;
  width: 70%;
  height: 90%;
  align-self: center;
}

.levelDemo .levels .level .subLevels .line {
  border: dashed 2px var(--middle_blue);
}
.levelDemo .img-line img {
  position: absolute;
  top: 40%;
  right: 48.5%;
  width: 3%;

  /* margin-right: 50%;
  margin-top: 0%; */
}
.component {
  width: 60px;
  height: 60px;

  border-radius: 100%;
}

/* styling for sides */

.levelDemo .side {
  flex: 1;
  margin-top: 8%;
}
.levelDemo .side .first_space {
  border: 2px solid #e5e5e5;
  border-radius: 16px;
  display: block;
  margin: 0 24px 24px;
  padding: 24px;
  text-align: center;
}
