.correctAnswer {
  margin: 10%;
  display: flex;
  flex-direction: row;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 12%;
}
.correctAnswer .img img {
  margin: 10px;
  width: 60%;
}
.correctAnswer .answer {
  margin: auto;
  margin-right: 0%;
  /* color: var(--light_blue);
   */
  color: var(--dark_blue);
}
.correctAnswer .continue {
  width: 160px;
  height: 50px;
  border-radius: 10%;
  cursor: pointer;
  background-color: var(--green);
  border: solid 2px var(--grey);
  text-align: center;

  line-height: 50px;
  font-size: 30px;
  color: var(--dark_blue);
  margin: auto;
}
